// #1~2

// 한줄주석 - 컴파일 X 
/* 두줄주석 - 컴파일 O */

// 변수명으로 사용 가능한 문자 - 영문/영문+숫자/영문+특수문자+숫자/대소문자
$gray:#c9c9c9;
$white:#fff;
$blue:blue;
$red:red;
$fs30:30px;

.btn1 {display: block;width: 200px;height: 50px;line-height: 50px;font-size: $fs30;color:$gray;background-color:$white;border: 1px solid $gray;text-align: center;
    &:hover {background-color: $gray;color:$white;}
}
.btn2 {display: block;padding: 10px;font-size: $fs30;border: 1px solid $red;background-color: $blue;color: $gray;}

// #3
.a{color: red;
    ul{border: 1px solid red;
        li{background: pink;
            a{text-decoration: none;
                &:hover{color: red;}
                &.bbb{font-size: 20px;}
            }
            .bbb{font-weight: 700;}
            &:last-child{border: 1px dotted yellowgreen;}
        }
    }
}